#journal {
   width: 1158px;
   height: 690px;
   border: 1px solid #707070;
   border-radius: 31px;
   margin-top: 65px;
   margin-left: 80px;
}

#journal__title__container {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   height: 81px;
   width: 100%;
   border-bottom: 1px solid #707070;
   font-size: 28px;
   color: #4E4E4E;
}

#create__entry {
   display: flex;
   justify-content: center;
   align-items: center;
   justify-self: flex-start;
   align-self: center;
   width: 50px;
   height: 50px;
   margin-top: 4px;
   margin-left: 18px;
   border: 1px solid #707070;
   border-radius: 25px;
}

#journal__title {
   justify-self: center;
   align-self: center;
}

#entries__container {
   height: 85%;
   margin: 30px;
}

#editor__container {
   margin-top: 18px;
}

#create__entry__buttons {
   display: flex;
   justify-content: flex-end;
   align-items: center;
   height: 100px;
}

#create__entry__buttons button{
   width: 157px;
   height: 49px;
   border: 1px solid #707070;
   border-radius: 15px;
   background-color: white;
   margin-bottom: 5px;
}

