#splash {
   height: 100%;
   width: 100%;
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
}

/* Heading */

#splash__intro {
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
}

#title {
   margin: 0;
   margin-top: 6rem;
   font-size: 45px;
}

#subtitle {
   margin: 0;
   margin-top: .5rem;
   font-size: 20px;
   color: #4E4E4E;
}

#main__site__link {
   margin: 0;
   margin-top: 4rem;
}

#main__site__link  a{
   color:black;
   font-size: 28px;
   text-decoration: none;
   transition: border-bottom .3s;
   border-bottom: 3px solid rgb(212, 212, 212);
}

#main__site__link  a:hover{
   border-bottom: 3px solid #4E4E4E;
}

/* ABOUT */

#about {
   width: 40rem;
   height: auto;
   border: 1px solid #707070;
   border-radius: 27px;
   margin-top: 4rem;
   color: #4E4E4E;
   margin-bottom: 4rem;
}

#about--innerMargin {
   margin-left: 1.5em;
   margin-right: 1.5em;
}

#about__title {
   border-bottom: 1px solid #707070;
   padding-bottom: 5px;;
}

#links a{
   margin-right: 1em;
   color:#4E4E4E;
   text-decoration: none;
   transition: color .2s;
}

#links a:hover {
   color: rgb(169, 204, 255);
}

#technologies svg{
   height: 4rem;
   margin-right: 1rem;
}

#about h3 {
   padding-bottom: 3px;
   text-decoration: underline;
}

#profile {
   display: flex;
}

#profile p {
   margin-top: 0;
   margin-bottom: 4rem;
}