#create__journal {
   /* position: fixed;
   top: 150px;
   right: 8%; */
   width: 1158px;
   height: 70%;
   border: 2px solid #707070;
   border-radius: 31px;
   margin-top: 70px;
   margin-left: 80px;
}

#journal__border {
   height: 89px;
   width: 100%;
   border-bottom: 2px solid #707070;
}
