#journal {
   width: 74rem;
   /* height: 690px; */
   height: 44rem;
   border: 1px solid #707070;
   border-radius: 31px;
   margin-top: 65px;
   margin-left: 80px;
   /* display:flex; */
   position:absolute;
   top:80px;
   right: 8%;
}

#journal__title a{
   color:#4E4E4E;
   text-decoration: none;
}
/* 
@media screen and (min-width: 1960px) {
   #journal {
      width: 1260px;
      height: 690px;
      border: 1px solid #707070;
      border-radius: 31px;
      margin-top: 65px;
      margin-left: 80px;
      position:absolute;
      top:80px;
      right: 8%;
   }
}

@media screen and (max-width: 1800px) {
   #journal {
      width:  750px;
      height: 690px;
      border: 1px solid #707070;
      border-radius: 31px;
      margin-top: 65px;
      margin-left: 80px;
      position:absolute;
      top:80px;
      right: 8%;
   }
}

@media screen and (max-width: 1000px) {
   #journal {
      width:  450px;
      height: 690px;
      border: 1px solid #707070;
      border-radius: 31px;
      margin-top: 65px;
      margin-left: 80px;
      position:absolute;
      top:80px;
      right: 8%;
   }
}

@media screen and (max-width: 758px) {
   #journal {
      width:  350px;
      height: 690px;
      border: 1px solid #707070;
      border-radius: 31px;
      margin-top: 65px;
      margin-left: 80px;
      position:absolute;
      top:80px;
      right: 8%;
   }
}

@media screen and (max-width: 500px) {
   #journal {
      width:  210px;
      height: 690px;
      border: 1px solid #707070;
      border-radius: 31px;
      margin-top: 65px;
      margin-left: 80px;
      position:absolute;
      top:80px;
      right: 8%;
   }
} */