#journals {
   display: flex;
   justify-content: center;
   width: 394px;
   height: 70%;
   border: 2px solid #707070;
   border-radius: 31px;
   margin-top: 70px;
}

#journals__title {
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 25px;
   color: #4E4E4E;
   width: 500px;
   margin: 5px;
   height: 80px;
   border: 2px solid #707070;
   border-radius: 31px;
}

