#splash__page {
   display: flex;
   justify-content: center;
   background-image: url("../../images/water_color.jpg");
   height: 100vh;
   background-size: cover;
   background-repeat: no-repeat;
   background-position-y: 66%;
}

#login__form {
   position:fixed;
   top: 200px;
   width: 492px;
   height: 346px;
   background-color: white;
   border: 3px solid #999999;
   border-radius: 25px;
}

.login__form--input--container {

}

.login__form--input--container label, input{
   display: block;
}

#login__form--email--label {
   margin-left: 46.5px;
}

#login__form--password--label {
   margin-left: 46.5px;
}

.login__form--input {
   margin: auto;
   width: 391px;
}

#login__buttons {
   display: flex;
   justify-content: flex-end;
   width: 100%;
   margin-top: 5px;
}

#login__button {
   margin-left: 5px;
   margin-right: 46px;
}