#error__container {
   margin-top: 15px;
}

.error {
   margin-top: 5px;
   margin-left: 45px;
}

#login__page {
   background-image: url("../../images/water_color.jpg");
   height: 100vh;
   background-size: cover;
   background-repeat: no-repeat;
   background-position-y: 66%;
   color: #666666;
}

#login__page__content {
   height: calc(100% - 16%);
   width: 100%;
   display: flex;
   justify-content: flex-start;
   align-items: center;
   flex-direction: column;
   padding-top: 8%;
}

#login__page__title {
   font-size: 50px;
   margin: 0px;
   margin-bottom: 30px;
   color: #4E4E4E;
}

#login__form {
   width: 492px;
   height: auto;
   background-color: white;
   border: 3px solid #999999;
   border-radius: 25px;
}

.input label, input{
   display: block;
}

#email__label {
   margin-top: 18px;
   margin-left: 46.5px;
   margin-bottom: 10px;
}

#password__label {
   margin-top: 18px;
   margin-left: 46.5px;
   margin-bottom: 10px;
}

.login__input {
   margin: auto;
   height: 25px;
   width: 391px;
   border-radius: 25px;
   /* opacity: 75%; */
   padding-left: 10px;
   outline: none;
   border: 2px solid #999999;
   transition: border .2s;
}

.login__input:hover {
   border: 2px solid rgb(34, 34, 34);
}

.login__input:focus {
   border: 2px solid rgb(34, 34, 34);
}


#login__buttons {
   padding-bottom: 28px;
   display: flex;
   justify-content: flex-end;
   width: 100%;
   align-items: center;
   margin-top: 23px;
}

#login__buttons a {
   text-decoration: none;
   color: #666666;
}

#signup__link {
   margin: 0px;
   font-size: 13px;
   margin-right: 32px;
   border-bottom: 2px solid #99999977;
   transition: border-bottom .2s;
}

#signup__link:hover {
   border-bottom: 2px solid rgb(174, 243, 255);
}

#login__buttons button {
   border-radius: 17px;
   width: 121px;
   height: 28px;
   border: 2px solid #999999;
   transition: border .2s;
}

#login__buttons button:hover {
   border: 2px solid rgb(95, 95, 95);
}


#login__button__demo {
   margin-left: 5px;
   margin-right: 43px;

}