
#journal__title__container {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   height: 81px;
   width: 100%;
   border-bottom: 1px solid #707070;
   font-size: 28px;
   color: #4E4E4E;
}

#journal__title__container a{
   align-self: center;
   margin-top:3px;
}

#create__entry {
   display: flex;
   justify-content: center;
   align-items: center;
   justify-self: flex-start;
   align-self: center;
   width: 50px;
   height: 50px;
   margin-top: 4px;
   margin-left: 18px;
   border: 1px solid #707070;
   border-radius: 25px;
}

#create__entry a{
 padding: 12px;
}

#journal__title {
   justify-self: center;
   align-self: center;
}

#view__entries__container {
   height: 85%;
   margin: 30px 40px;
}

#journal__entries__container {
   height: 480px;
   margin: 10px 0px;
   margin-bottom: 0px;
   overflow-y: scroll;
}

#journal__entries {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-template-rows: auto;
   justify-items: center;
   row-gap: 20px;
}

.entry__link {
   text-decoration: none;
   color: black;
}

.entry {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 220px;
   height: 48px;
   border: 1px solid #707070;
   border-radius: 10px;
   transition: background-color .2s;
}
/* edit and delete buttons */
#journal__buttons {
   display: flex;
   justify-content: flex-end;
   align-items: center;
   width: 100%;
   margin-left:10px;
   height: 100px;
}

.journal__button {
   margin-bottom: 5px;
   width: 157px;
   height: 49px;
   border: 1px solid #707070;
   border-radius: 15px;
   background-color: white;
   cursor: pointer;
}

#edit__journal__button {
   margin-right: 20px;
}

/* edit journal modal */

#edit__journal__container {
   position: static;
   margin: 210px auto 0px auto;
   width: 600px;
   height: 170px;
   background-color: rgb(255, 255, 255);
   border: 4px solid #707070;
   display: flex;
   justify-content: center;
}

#edit__journal__container h1 {
   margin: 0px;
   margin-top: 25px;
   margin-bottom: 3px;
   height: 50px;
   text-align: center;
   font-size: 25px;
   color: #4E4E4E;
}

/* edit journal title input styling */

#edit__journal input{
   width: 480px;
   height: 22px;
}

#insert__title {
   border: 2px solid #777777;
   transition: border .1s;
   outline: none;
}

#insert__title:hover {
   border: 2px solid rgb(48, 48, 48);
}

/* edit journal title modal button styling  */

#edit__journal__buttons {
   width: 100%;
   margin-top: 18px;
   display: flex;
   justify-content: flex-end;
   height: 23px;
}

#edit__journal__buttons button {
   background-color: white;
   border: none;
   cursor: pointer;
   font-size: 14px;
   border-bottom: 2px solid white;
   transition: border-bottom .2s;
}

#edit__journal__buttons button:hover {
   border-bottom: 2px solid #4E4E4E;;
}

#submit__new__journal {
   margin-left: 15px;
}

/* delete journal modal */

#delete__journal__container {
   position: static;
   margin: 210px auto 0px auto;
   width: 600px;
   height: 130px;
   background-color: white;
   border: 5px solid #707070;
   border-radius: 0px;
}

#delete__journal__container h1 {
   margin: 0px;
   margin-top: 25px;
   margin-bottom: 3px;
   height: 50px;
   text-align: center;
   font-size: 25px;
   color: #4E4E4E;
}

#delete__journal__buttons {
   margin-top: 6px;
   width: 100%;
   display: flex;
   justify-content: flex-end;
}

#delete__journal__buttons button {
   background-color: white;
   border: none;
   cursor: pointer;
   font-size: 14px;
   border-bottom: 2px solid white;
   transition: border-bottom .2s;
}

#delete__journal__buttons button:hover {
   border-bottom: 2px solid #4E4E4E;;
}

#confirm__delete {
   margin-right:77px;
}

#cancel__delete {
   margin-right: 5px;
}

@media screen and (max-width: 1800px) {

   #entries__container {
      margin: 40px;
   }

   #journal__entries {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: auto;
      justify-items: center;
      row-gap: 20px;
   }
   
   .entry {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 180px;
      height: 48px;
      border: 1px solid #707070;
      border-radius: 10px;
   }

   #journal__title {
      text-align: center;
   }

}

@media screen and (max-width: 1000px) {
   #view__entries__container {
      height: 85%;
      margin: 30px 20px;
   }

   #journal__entries {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto;
      justify-items: center;
      row-gap: 20px;
   }
   
   .entry {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 180px;
      height: 48px;
      border: 1px solid #707070;
      border-radius: 10px;
   }

   #journal__title {
      text-align: center;
   }
}

@media screen and (max-width: 500px) {
   #view__entries__container {
      height: 85%;
      margin: 30px 20px;
   }

   #journal__entries {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      justify-items: center;
      row-gap: 20px;
   }
   
   .entry {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 150px;
      height: 48px;
      border: 1px solid #707070;
      border-radius: 10px;
   }

   #journal__title {
      text-align: center;
   }
}