
#journal__title__container {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   height: 81px;
   width: 100%;
   border-bottom: 1px solid #707070;
   font-size: 28px;
   color: #4E4E4E;
}
#journal__title__container a{
   align-self: center;
}

#create__entry {
   display: flex;
   justify-content: center;
   align-items: center;
   justify-self: flex-start;
   align-self: center;
   width: 50px;
   height: 50px;
   margin-top: 4px;
   margin-left: 18px;
   border: 1px solid #707070;
   border-radius: 25px;
}

#journal__title {
   justify-self: center;
   align-self: center;
}

#entries__container {
   height: 85%;
   margin: 30px;
}

#journal__entries__container {
   height: 480px;
   margin: 10px 0px;
   margin-bottom: 0px;
   overflow-y: scroll;
   -ms-overflow-style: none;
   scrollbar-width: none;
}

#journal__entries__container::-webkit-scrollbar {
   display: none;
}

#journal__entries {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-template-rows: auto;
   justify-items: center;
   row-gap: 20px;
}

.entry__link {
   text-decoration: none;
   color: black;
}

.entry {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 220px;
   height: 48px;
   border: 1px solid #707070;
   border-radius: 10px;
}

#journal__buttons {
   display: flex;
   justify-content: flex-end;
   align-items: center;
   width: 100%;
   height: 100px;
}

.journal__button {
   width: 157px;
   height: 49px;
   border: 1px solid #707070;
   border-radius: 15px;
   background-color: white;
}

#edit__journal__button {
   margin-right: 25px;
}

#edit__journal__container {
   position: static;
   margin: 210px auto 0px auto;
   width: 600px;
   height: 210px;
   background-color: white;
   border-radius: 44px;
   border: 1px solid #707070;
   display: flex;
   justify-content: center;
}

#edit__journal__container h1 {
   margin: 0px;
   margin-top: 25px;
   height: 50px;
   text-align: center;
}

#edit__journal input{
   margin-top: 15px;
   width: 480px;
   height: 23px;
}

#edit__journal__buttons {
   width: 100%;
   margin-top: 10px;
   display: flex;
   justify-content: flex-end;
   height: 23px;
}

#submit__new__journal {
   margin-left: 7px;
}

#delete__journal__container {
   position: static;
   margin: 210px auto 0px auto;
   width: 600px;
   height: 150px;
   background-color: white;
   border-radius: 44px;
   border: 1px solid #707070;
}

#delete__journal__container h1 {
   margin: 0px;
   margin-top: 25px;
   height: 50px;
   text-align: center;
   font-size: 25px;
}

#delete__journal__buttons {
   width: 100%;
   display: flex;
   justify-content: flex-end;
}

#confirm__delete {
   margin-right:77px;
}

#cancel__delete {
   margin-right: 5px;
}

@media screen and (max-width: 1800px) {

   #journal__entries {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto;
      justify-items: center;
      row-gap: 20px;
   }
   
   .entry {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 180px;
      height: 48px;
      border: 1px solid #707070;
      border-radius: 10px;
   }

   #journal__title {
      text-align: center;
   }

}